body {
  margin: 0px;
  padding: 0px;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: antiquewhite;
  color: rgba(255, 255, 255, 0.87);
  color-scheme: dark light;
}

.container {
  width: 1200px;
  margin: 0px auto;
}